
<h3>Filter by Type:</h3>
<select (change)="onChange($event.target.value)">
  <option value="All Types">All Projects</option>
  <option value="Technology">Technology</option>
  <option value="Health and Wellness">Health and Wellness</option>
  <option value="Non-Profit">Non-Profit</option>
  <option value="Entertainment">Entertainment</option>
  <option value="Education">Education</option>
</select>

<h3>Filter by Amount:</h3>
<select (change)="onChange2($event.target.value)">
  <option value="All Projects">All Projects</option>
  <option value="Fully Funded">Fully Funded</option>
  <option value="Greater than 75">Above 75%</option>
  <option value="50 to 75">Between 50% and 75%</option>
  <option value="25 to 50">Between 25% and 50%</option>
  <option value="0 to 25">Below 25%</option>
</select>
<br>
<br>
<div>
  <app-add-project></app-add-project>
</div>
<br>
<div *ngFor="let project of projects | async | type:filterByType | amountLeft:filterByAmountLeft" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(project)"><em>{{project.title}}</em> by {{project.manager}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{project.type}}
      <hr>
      <app-edit-project [selectedProject]="project"></app-edit-project>
    </div>
  </div>
</div>
